<h1>Listing loan_applications</h1>

<table>
  <thead>
    <tr>
      <th>Loan application</th>
      <th>Loan amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_applications.each do |loan_application| %>
      <tr>
        <td><%= loan_application.loan_application_id %></td>
        <td><%= loan_application.loan_amount %></td>
        <td><%= link_to 'Show', loan_application %></td>
        <td><%= link_to 'Edit', edit_loan_application_path(loan_application) %></td>
        <td><%= link_to 'Destroy', loan_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan application', new_loan_application_path %>
